/*
|--------------------------------------------------------------------------
| Grid
|--------------------------------------------------------------------------
|
| Basic grid styling for neat website look n feel 
|
*/

$grey-light: #eee;
$lightblue: #d5eefb;
$blue: #aadbf5;

body {
  background-color: $grey-light;
}

.inner {
  background-color: $lightblue;
  padding:20px;
  width:680px;
  margin:0 auto;
}

.lte9 {
  .content { width:100%; } 
  .scrollbar {
    display:block !important;
    background-color:red !important;
    z-index:2;
  }
  .scrollbar .mousearea {
    background-color:green !important;
    z-index:3;
  }
}